/* graphical component #2 - button changes shapes and colours when hovered over */
.btn-resume {  
    font-family: var(--text-font);  
    text-transform: uppercase;
    font-size: 16px
}  

.btn-resume:hover .btn-slide-show-text1 {  
    margin-left: 65px;
}  

.btn-resume{  
    height: 46px;  
    width: 244px;  
    font-size: 16px;  
    font-weight: 600;  
    background: transparent;  
    cursor: pointer;  
    transition: all 0.5s ease-in 0s;
}  

.btn-resume:hover {  
    border-radius: 60px; 
    color: rgb(255, 255, 255) !important;
}  

.btn-resume{  
    border: 2px dashed rgb(255, 99, 146);  
    color: rgb(243, 138, 170) !important;
}  

.btn-resume:hover {  
    border-color: rgb(210, 118, 145);  
    background: rgb(223, 117, 149);}  

#dog-photo {
    display: inline-block;
    animation: wiggle 1s infinite
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}


/* styling for mobile */
@media screen and (max-width:600px) {

    #about-me-photo1 img{
        width: 220px;
        height:220px;
        border-radius: 50%
    }

    #about-me-photo2 img{
        display: none;
    }
    .about-me {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: 200px;
    }

    #about-me-header {
        margin-bottom: 0
    }

    .about-me p {
       width: 80dvw;
    }

    .btn-resume {
        padding: 4px 16px;
        margin-bottom: 20px;
        margin-top: 28px
    }
    .about-me-links a i {
        font-size: 30px;
        color: #8f5551;
        padding: 10px;
    }

    #dog-photo {
        height:260px;
        width: 220px;
    }
}
    
/* styling for tablet and desktop */
@media screen and (min-width:600px) {
#about-me-photo1 {
    display: none;
}

#about-me-photo2 img {
    height: 220px;
    width: 220px;
    border-radius: 500px 500px 0 0;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me p {
    text-align: center;
    display: inline;
    padding-top: 50px;
}

.desktop-about-me-header {
    display: flex;
    gap: 100px;
    margin-top: 160px;
}

.desktop-about-me-body {
    display: flex;
    flex-direction: column;
    max-width: 80dvw;
    align-items: center;
}

.about-me-links{
    padding-top: 50px;
    display: flex;
    gap:20px;
}

.about-me-links a i {
    font-size: 40px;
    color: #8f5551;
    padding: 10px;
}

    #dog-photo {
        height: 500px;
        width: 400px
    }
}

