.contact-main {
  display: flex;
}

.social-media-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 26px 60px;
}

.social-media-icons a i {
  color: black;
  transition: transform 0.5s ease-in-out;
}

.social-media-icons a i:hover {
  transform: scale(1.5);
  color: hsl(346, 66%, 85%);
}

.fa-hand {
  font-size: 60px;
  margin-bottom: 40px;
  animation: rotate-45-cw 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
	        animation: rotate-45-cw 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
}

 @keyframes rotate-45-cw {
  0% {
    transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    transform: rotate(45deg);
            transform: rotate(45deg);
  }
 }

#form-title {
  padding-bottom: 20px;
  padding-top: 0;
  text-align: center;
}
/* styling for mobile */
@media screen and (max-width: 875px) {
  .contact-main {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
.social-media-icons {
  margin-bottom: 60px;
  border-radius: 8px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
  .social-media-icons a i {
    font-size: 40px;
    padding: 16px;
  }
}

@media screen and (min-width: 875px) {
  .contact-main {
    flex-direction: column;
    align-items: center;
  }

  .desktop-contact-main {
    display: flex;
    justify-content: center;
    gap: 60px;
  }

  .social-media-icons a i {
    font-size: 52px;
    padding: 16px;
  }

  .social-media-icons {
    max-height: ;
  }
}
