:root {
    --background-color: #D7CBDD;
    --text-color: #4A4A4A;
    --heading-font: "DM Serif Display", serif;
    --text-font: "Roboto", sans-serif;
}

h1 {
    font-family: var(--heading-font);
    font-weight: 400;
    font-style: italic; 
}

h2 {
    font-family: var(--heading-font);
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: var(--heading-font);
    font-weight: 400;
    font-style: normal;
}

p {
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 300;
    font-style: normal;
}


body {
    background: linear-gradient(180deg, hsl(346, 66%, 85%) 0%, rgba(254,229,149,1) 100%);
    margin: 0;
    display: flex;
    min-height: 100dvh;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    width:100dvw;
    /* background-color: #f5e6fc; */
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 1px 12px rgba(0, 0, 0,0.25);
    border: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(20px);
    padding: 16px 10px;
    position: fixed;
    z-index: 1
}

nav a {
    color: #866363;
    text-decoration: none;
    font-family: var(--heading-font);
    font-weight: 400;
}
nav a:hover {
    color: #dfb08d;
    transform: translateY(4px);
}


.introduction {  
    display: flex;
    text-align: center;
    align-items: center;
    animation: bounce-in-top 1.4s ease-in both;   
}   

 @keyframes bounce-in-top {
    0% {
              transform: translateY(-500px);
     
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
    
              transform: translateY(0);
      
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      
              transform: translateY(-65px);
      
              animation-timing-function: ease-in;
    }
    72% {
      
              transform: translateY(0);
    
              animation-timing-function: ease-out;
    }
    81% {
     
              transform: translateY(-28px);
    
              animation-timing-function: ease-in;
    }
    90% {
    
              transform: translateY(0);
      
              animation-timing-function: ease-out;
    }
    95% {
     
              transform: translateY(-8px);
    
              animation-timing-function: ease-in;
    }
    100% {
      
              transform: translateY(0);
     
              animation-timing-function: ease-out;
    }
  }
  
  
  
.overview-projects {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.overview-projects img {
   border-radius: 10%;
   padding: 8px;
   background-color: rgba(255,255,255,0.5);
    box-shadow: 0 1px 12px rgba(0, 0, 0,0.25);
    border: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(20px);
}

.overview-projects img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 0.75rem beige);
    z-index: 2;
    transition: all .4s ease; 
}


.overview-projects p {
    margin-top: 0px;
}

.get-in-touch {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-form {
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background-color: rgba(255,255,255, 0.6);
    box-shadow: 0 1px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

label {
    display: block;
    font-family: var(--heading-font);
    color: #4A4A4A;
}

input, textarea {
    background-color: #f2bfcc;
    opacity: 0.5;
    border: none;
    border-radius: 5%;
}

.form-input:focus {
    background-color: white;
    outline-color: #fee595;
}

#submit {
    background-color: #f2bfcc;
    opacity: 0.5;
    border: none;
    font-family: var(--heading-font);
    color: #4A4A4A;
}

.btn-submit {  
    font-family: var(--text-font);  
    text-transform: uppercase;
}  

.btn-submit:hover .btn-slide-show-text1 {  
    margin-left: 65px;
}  

.btn-submit{  
    height: 40px;  
    width: 244px;  
    font-size: 16px;  
    font-weight: 600;  
    background: transparent;  
    cursor: pointer;  
    transition: all 0.5s ease-in 0s;
}  

.btn-submit:hover {  
    border-radius: 60px; 
    color: rgb(255, 255, 255) !important;
}  

.btn-submit{  
    border: 2px solid rgb(255, 99, 146);  
    color: rgb(255, 99, 146) !important;
}  

.btn-submit:hover {  
    background: rgb(255, 99, 146);}  

footer {
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 1px 12px rgba(0, 0, 0,0.25);
    border: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(20px);
    text-align: center;
    margin-top: 32px;
    padding: 16px;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media a i {
    color: #4A4A4A;
}

.social-media a i:hover {
    transform: translateY(4px);
}

/* styling for mobile */
@media screen and (max-width:600px) {
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 24px;
        margin-bottom: 2px;
    }

    h4 {
        font-size: 16px;
    }


    nav {
        justify-content: space-around;
    }

    nav.a {
        font-size: 16px;
    }

    .introduction {
        flex-direction: column;
        gap: 20px;
        padding-top: 120px;
        padding-bottom: 60px;
    }

    .introduction-photo img {
        height:160px;
        width: 160px;
        border-radius: 50%;
    }

    .overview-projects {
        align-items: center;
        flex-direction: column;
    }

    .overview-projects img {
        max-width: 70dvw;
    }

    .contact-form {
        padding: 15px 80px;
    }

    label {
        padding-top: 4px;
    }

    input, textarea {
        width: 140px;
    }

    #submit {
        padding: 6px;
        border-radius: 5%;
        width: 100px;
        margin-top: 12px;
    }
.social-media {
    gap: 20px;
}

.social-media a i {
    font-size: 20px;
    }
}

/* styling for tablets and desktop */
@media screen and (min-width:600px) {
    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 40px;
        margin-bottom: 0px;
    }

    h4 {
        font-size: 32px;
    }

    nav {
        justify-content: start;
        gap: 84px;
        padding-left: 100px;
    }

    nav.a {
        font-size: 78px;
    }

    .introduction {
        padding-top: 200px;
        padding-bottom: 120px;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px
    }

    .introduction-photo img {
        max-width: 300px;
        border-radius: 400px 400px 0 0;
    }

    .overview-projects {
        flex-direction: column;
        justify-content: space-between;
    }
    .overview-projects-img {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .overview-projects img {
        max-width: 30dvw;
    }
    .get-in-touch {
        padding-top: 48px;
    }
    .contact-form {
        padding: 40px 80px; 
    }

    label {
        font-size: 20px;
    }


    input {
        height: 20px;
        width: 240px
    }

    textarea {
        width: 240px;
    }

    #submit {
        font-size: 20px;
        margin-top: 8px;

    }

    .social-media {
        gap: 60px
    }
    .social-media a i {
        font-size: 32px;
    }

}

/* styling of headings and intro for tablet */
@media screen and (min-width:600px) and (max-width:1024px) {
        h1 {
            font-size: 60px;
        }

        h2 {
            font-size: 30px;
        }

        h4 {
            font-size: 20px;
        }
        
        .introduction-photo img {
            max-width: 200px;
        }
}


