:root {
    --background-color: #D7CBDD;
    --text-color: #4A4A4A;
    --heading-font: "DM Serif Display", serif;
}

h1 {
    font-family: var(--heading-font);
    font-weight: 400;
    font-style: italic;
    font-size: 36px;   
}

h2 {
    font-family: var(--heading-font)
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 2px;
}

h4 {
    font-family: var(--heading-font)
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
}

p {
    color: var(--text-color);
}

body {
    background: var(--background-color);
    margin: 0;
    display: flex;
    min-height: 100dvh;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    width:100dvw;
    background-color: #f5e6fc;
    margin: 0;
    gap: 8px;
    justify-content: space-around;
    padding: 16px 0;
    position: fixed;
    /* find out how to make nav bar sticky */
}
nav a {
    color: #866363;
    text-decoration: none;
    font-family: var(--heading-font);
    font-weight: 400;
    font-style: none;
    font-size: 16px;
}

.introduction {
    padding-top: 120px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
}   

.introduction-photo {
    padding-top:100px;
    box-sizing: border-box;
    height:120px;
    width: 120px;
    background-color: grey;
    border-radius: 50%;
}
.overview-projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.overview-projects img {
    /* fyi this max width is for mobile */
   max-width: 80dvw;
   border-radius: 10%;
   transition: all .4s ease;
   
}

.overview-projects img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 0.75rem beige);
}


.overview-projects p {
    margin-top: 0px;
}

.get-in-touch {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-form {
    background-color: white;
    padding: 15px 80px;
    border-radius: 20%;
}


label {
    display: block;
    /* padding-bottom: -1px; */
    padding-top: 4px;
    font-family: var(--heading-font);
    color: #4A4A4A;
}

input, textarea {
    background-color: #F4E8FC;
    border: none;
    border-radius: 5%;
    width: 140px;
}

.form-input:focus {
    background-color: white;
}



#submit {
    background-color: #F4E8FC;
    border: none;
    padding: 6px;
    border-radius: 5%;
    width: 100px;
    margin-top: 12px;
    
}

footer {
    background-color: #f5e6fc;
    text-align: center;
    margin-top: 32px;
    padding: 16px;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media a i {
    font-size: 20px;
    color: #4A4A4A;
}
